
@font-face {
    font-family: 'Futura';
    src: url('Futura.ttf');
}

body {
  padding-top: 10px;
}

select{

  color: black;
}


[class*="error"]{

    font-size: 15px;
    background-color: darkred;
    color: white ;
    border-radius: 2px;
    border:1px solid gray;
    padding:5px;
    box-shadow:2px 2px 10px gray; 
    -moz-box-shadow:2px 2px 10px gray;
    -webkit-box-shadow:2px 2px 10px gray;

}

[class*="col-"], footer {
  background-color: steelblue;
  /* border: 1px solid black; */
  border-radius: 6px;
  font-family: 'Open Sans', sans-serif;
  line-height: 40px;
  text-align: center;
  color: white;
  font-size: 15px;



}

#day{

  color: black;

}





