




/*-------------------Format des boutons----------------------*/
/*-----------------------------------------------------------*/

/*button {
    padding: 3px 30px;
    background-color: #FFECEC;
    border: 1px solid #990000;
}
button:hover {
    background-color: #ECFFEC;
    border: 1px solid #000099;
}*/
élément {

    display: block;

}





/*----------------------bandeau de la page---------------------*/
/*-------------------------------------------------------------------**/


header  {

    background-image: -webkit-linear-gradient(top, rgb(50,50,50), rgba(0,0,0,0)); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image:    -moz-linear-gradient(top,rgb(50,50,50), rgba(0,0,0,0)); /* For Firefox (3.6 to 15) */
    background-image:      -o-linear-gradient(top,rgb(50,50,50), rgba(0,0,0,0)); /* For old Opera (11.1 to 12.0) */ 
    background-image:         linear-gradient(to bottom, rgb(50,50,50), rgba(0,0,0,0)); /* Standard syntax; must be last */
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    position: fixed;
    

}

footer{

    background-image: -webkit-linear-gradient(bottom, rgb(50,50,50), rgba(0,0,0,0)); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
    background-image:    -moz-linear-gradient(bottom,rgb(50,50,50), rgba(0,0,0,0)); /* For Firefox (3.6 to 15) */
    background-image:      -o-linear-gradient(bottom,rgb(50,50,50), rgba(0,0,0,0)); /* For old Opera (11.1 to 12.0) */ 
    background-image:         linear-gradient(to top, rgb(50,50,50), rgba(0,0,0,0)); /* Standard syntax; must be last */
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    position: fixed;


}
    /*Jouer comporte des risques*/


    .texte_info { 
        text-decoration:blink; 
        font: 10px monospace;
        color: white;
        float:right; 
        font-color:white;
    }
    /*Login et mdp*/

    .logbox {

        margin-top: 20px;
    }

     .incorrect{
        display: inline-block;
      
    color:#09c;
     background:rgba(0,0,0,.9);
     padding:9px;
     border-radius:3px;
     box-shadow:0 0 2px rgba(0,0,0,.5);
     font-size: 15px;


    }
    

    



/*---------------------------Corps de la page ---------------------**/
/*-------------------------------------------------------------------**/

body{
    width:100%;
    color: white;
}

    /*flou juste du fond*/

    #corps:before {
        content: '';
        background: url('image/sport.jpg');
        -webkit-filter: blur(8px);
               -moz-filter: blur(8px);
                -ms-filter: blur(8px);
                 -o-filter: blur(8px);
                    filter: blur(8px);
                    width: 100%;
                    height: 100%;
                     background-repeat: no-repeat center fixed;
                      margin:0;
                    padding:0;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;

        position: absolute;
        top: 0;
        bottom:0;
        left: 0;
        right: 0;    
        z-index: -1;
    }
        /*Partie gauche du corps*/



            .sentence{

                font-size: 30px;
                margin-top: 200px;
                margin-left: 80px;
                color: white;

            }

            .down{
                margin-top: 80px;
            }

        /*Partie droite du corps*/
            .corps_droite{

                margin-top: 30px;
                margin-left: 30px;
                

            }


            /*Format du titre */

            .titre{

                font-size: 25px;
                color: white;
            }
            /*Alignement des boutons */

            .aligne{

                display: block; /* La balise devient de type block. */

                 width: 100px;

            }

            .obligatoire{

                font-size: 10px;
                float:bottom;
            }

            .police{
                color:red;
            }




            
