@font-face {
    font-family: 'Futura';
    src: url('Futura.ttf');
}

.backstrip{
  background-color: rgb(174,207,255);
  
}


.backrank{
  background-color: rgb(240,240,245);

}
.bottom_bet{
  background-color: rgb(240,240,245) ;
  border: 1px solid black;
  margin-right: 5px;
  margin-bottom: 10px;
}

a {
  color:dimgrey;
}



a:hover, a:active,  a:focus {
  text-decoration: none;
  
}

.text_bet{
  border-top: 1px solid grey;
  text-align :center;
}

.shadow{
    box-shadow: 0px 2px 0px #aaa;
}

.center_text{
  text-align: center;
}

.bg{
  background-color: rgb(248,248,248);
  border: 2px black;
  border-radius: 6px;
  line-height: 40px;
}



.dropdown-content {
    
    display:none;
    background-color: ##505050;
    width: inherit;
    box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.5);
    padding: 2px 2px;
    z-index: 5;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: #0275d8;
}


.dropdown_menu{
  margin-left: 15px;
}

.top{
  margin-top: 15px;
}



.titleGroups{
 cursor:default;
}

.titre
{
  margin-left: 15px; 
  margin-top: 5px; 
  margin-bottom : 20px;
  cursor:default;
}

.textBet
{
  text-align: center;
  cursor:default;
}
.num
{
  text-align: left;
}


.subpolice
{
  font-size: 25px;
  text-align: center;
}

.subpolice_group
{
  font-size: 25px;
  text-align: center;
  cursor:pointer;
}

.subrank{
  text-align: center;
}

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}


h5{
  text-align: center;
  margin-bottom: 15px;
}

body
{
	padding: 15px;
  background-image:url(http://img0.mxstatic.com/wallpapers/66624eaea2d226b54f0cae817dfc36ed_large.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Futura;

}

.background_opacity {
position: fixed;
z-index: -10;
top: 0; left: 0; right: 0; bottom: 0;
background-color: rgba(255, 255, 255, 0.5); /* L'opacite se regle ici */
}




/* Creates a vertical nav starting at 768px (sm) */

@media (min-width: 768px) {
   .bootstrap-vertical-nav .navbar .navbar-collapse {
      padding: 0;
      max-height: none;
   }
  
   .bootstrap-vertical-nav .navbar li {
      float: none;
      display: block;

   }

   .bootstrap-vertical-nav .navbar-nav .nav-item+.nav-item {
      margin-left: 0;
   }
}

/* Put any custom CSS you want for your menu when it is collapsed */
@media (max-width: 768px) {
   .bootstrap-vertical-nav {
      
   }
}