




/*-------------------Format des boutons----------------------*/
/*-----------------------------------------------------------*/

button {
    padding: 3px 30px;
    background-color: #FFECEC;
    border: 1px solid #990000;
}
button:hover {
    background-color: #ECFFEC;
    border: 1px solid #000099;
}
élément {

    display: block;

}





/*----------------------bandeau de la page---------------------*/
/*-------------------------------------------------------------------**/


header  {

    background-color: rgba(103 , 113, 121, 0.5);
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    position: fixed;
    

}
    /*Jouer comporte des risques*/

    .texte_info { 
        text-decoration:blink; 
        font: 10px monospace;
        color: white;
        float:right; 
    }
    /*Login et mdp*/

    .headerLoginBox {

    float: center;
    display: none;

    }

    .wrong_password{
        position: relative;
        left:300px;
        bottom:380px;

        color:#09c;
     background:rgba(0,0,0,.9);
     padding:15px;
     border-radius:3px;
     box-shadow:0 0 2px rgba(0,0,0,.5);
     font-size: 10px;
    }
    .wrong_password::before {
     content:"";
     position:absolute;left:-33px;top:0;
     
     /* taille */  
     height:0;width:0; 
     
     /* les bordures */
     border-right:36px solid rgba(0,0,0,.9);
     border-bottom:22px solid transparent;
     border-top:22px solid transparent;
     }

    .password_login{
     color:#09c;
     background:rgba(0,0,0,.9);
     padding:15px;
     border-radius:3px;
     box-shadow:0 0 2px rgba(0,0,0,.9);

    }


    .pseudo_invalide{
        position: relative;
        left:280px;
        bottom:465px;
        color:#09c;
     background:rgba(0,0,0,.9);
     padding:15px;
     border-radius:3px;
     box-shadow:0 0 2px rgba(0,0,0,.9);
     font-size: 10px;
    


    }
    .pseudo_invalide::before {
     content:"";
     position:absolute;left:-33px;top:0;
     
     /* taille */  
     height:0;width:0; 
     
     /* les bordures */
     border-right:36px solid rgba(0,0,0,.9);
     border-bottom:22px solid transparent;
     border-top:22px solid transparent;
     }


    .email_utilise{
        position: relative;
        left:300px;
        bottom:315px;
        color:#09c;
     background:rgba(0,0,0,.9);
     padding:15px;
     border-radius:3px;
     box-shadow:0 0 2px rgba(0,0,0,.5);
     font-size: 10px;


    }
    .email_utilise::before {
     content:"";
     position:absolute;left:-33px;top:0;
     
     /* taille */  
     height:0;width:0; 
     
     /* les bordures */
     border-right:36px solid rgba(0,0,0,.9);
     border-bottom:22px solid transparent;
     border-top:22px solid transparent;
     }

     .date_invalide{
        position: relative;
        left:300px;
        bottom:250px;
        color:#09c;
     background:rgba(0,0,0,.9);
     padding:15px;
     border-radius:3px;
     box-shadow:0 0 2px rgba(0,0,0,.5);
     font-size: 10px;


    }
    .date_invalide::before {
     content:"";
     position:absolute;left:-33px;top:0;
     
     /* taille */  
     height:0;width:0; 
     
     /* les bordures */
     border-right:36px solid rgba(0,0,0,.9);
     border-bottom:22px solid transparent;
     border-top:22px solid transparent;
     }


/*---------------------------Corps de la page ---------------------**/
/*-------------------------------------------------------------------**/

body{
    width:100%;
    color: white;
}

    /*flou juste du fond*/

    #corps:before {
        content: '';
        background: url('sport.jpg');
        -webkit-filter: blur(8px);
               -moz-filter: blur(8px);
                -ms-filter: blur(8px);
                 -o-filter: blur(8px);
                    filter: blur(8px);
                    width: 100%;
                    height: 100%;
                     background-repeat: no-repeat;

        position: absolute;
        top: 0;
        bottom:0;
        left: 0;
        right: 0;    
        z-index: -1;
    }
        /*Partie gauche du corps*/

        #gauche{

            position: relative;
            width:600px;
            height: 100%;
            left:50px;
            top:250px;
        }

            h1 {
                font-size: 30px;
                padding: 0 110px 10px 0;
                float:left;
                line-height: 34px;
                color:white ;
                font-family:arial, sans-serif;

            }

        /*Partie droite du corps*/

        #droite{
            position: relative;
            height: 100%;
            left:900px;
            width:400px;
            top:20px;
        }

            /*Format du titre */

            .titre{

                font-size: 25px;
                color: white;
            }
            /*Alignement des boutons */

            .aligne{

                display: block; /* La balise devient de type block. */

                 width: 100px;

            }

            .obligatoire{

                font-size: 10px;
                float:bottom;
            }

            .police{
                color:red;
            }




            
