

.buttons
{
display: inline-block;
background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* W3C */
border: 1px solid #a1a1a1;
padding: 0 .6em;
font: bold 1em/2em Arial, Helvetica;
text-decoration: none;
color: #0275d8;
-moz-border-radius: .2em;
-webkit-border-radius: .2em;
border-radius: .2em;

}
.buttons:before
{
width: 1em;
text-align: left;
/*font-size: 1.7em;*/
/*margin: 0 0.5em 0 -1em;*/
/*padding: 0 .2em;*/
pointer-events: none;
font-family: FontAwesome;

 
}
.add:before    { content: "\270E"; }
.tick:before{  content: "\2714";}

.title{
margin-left: 70px;
    font-size: 25px;
}
.droite{
    float:right;
    margin-right: 0px;
}

.champs{
    font-size: 20px;
    color:#373a3c;
}

#divpseudo,#divpassword,#divbirthday,#divcity,#divmail,#divcompany{
    margin-left: 70px;


}
input, textarea, select {
 padding:1px;
 border:1px solid #0275d8;
 border-radius:5px;

 box-shadow:1px 1px 2px #C0C0C0 inset;
 }

     .invalide{
     margin-left: 70px;
     color:#09c;
     background:rgba(0,0,0,.9);
     padding:15px;
     border-radius:3px;
     box-shadow:0 0 2px rgba(0,0,0,.5);
     font-size: 12px;


    }
