.calendar
{
    background-color:#f7f6f3;
    position:absolute;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:black;
    border:1px solid #0099cc;
    -moz-opacity:0;
    filter:alpha(opacity=0);
     
}
 
.calendar a
{
    text-decoration:none;
    color:#ffffff;
    font-weight:bold;
}
 
.ListeDate
{
    background-color:#FFFFFF;
}
 
#Contenant_Calendar
{
    float:left;
    width:100%;
    overflow:hidden;
    position:relative;
}
 
#Contenant_Calendar span
{
    float:left;
    display:block;
    width:30px;
    height:30px;
    line-height:30px;
    text-align:center;
}
 
.DayDate:hover
{
    background-color:#8CD1EC;
    cursor:pointer;
}
 
#curentDateString
{
    width:100%;
    text-align:center;
}
 
.titleMonth
{
    width:100%;
    background-color:gray;
    color:#FFFFFF;
    text-align:center;
    border-bottom:1px solid #666;
    margin:0px;
    padding:0px;
    padding-bottom:2px;
    margin-top:0px;
    margin-bottom:0px;
    font-weight:bold;
}
 
.separator
{
    float:left;
    display:block;
    width:25px;
}
 
.currentDay
{
    font-weight:bold;
    background-color: steelblue;
    color: white;
}