.shadow{
    box-shadow: 0px 2px 0px #aaa;
}

.bg{
  background-color: red/* rgb(248,248,248) */;
  border: 2px black;
  border-radius: 6px;
  line-height: 40px;
}

.dropdown_menu{
  margin-left: 15px;
}

.top{
  margin-top: 15px;
}

.titleGroups{
  cursor:default;
}

.titre
{
  margin-left: 15px; 
  margin-top: 5px; 
  margin-bottom : 20px;
  cursor:default;
}

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}