
[class*="error"]{

    font-size: 15px;
    background-color: darkred;
    color: white ;
    border-radius: 2px;
    border:1px solid gray;
    padding:5px;
    box-shadow:2px 2px 10px gray; 
    -moz-box-shadow:2px 2px 10px gray;
    -webkit-box-shadow:2px 2px 10px gray;

}


