/*[class*="col-"], footer {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}*/

@font-face {
font-family: 'Futura';
src: url('Futura.ttf');

}

.profile
{
  width: 80px;
  height: 80px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}

.margin{

  margin-bottom : 30px;
}
.left-text
{
  text-align: left;
}
.no_radius{
   border-radius: 0px;
   margin: 0px;
}
.round
{
    border-radius: 10px;

}

.bottom_bet{
  background-color: rgb(240,240,245) ;
  border: 1px solid black;
  margin-right: 5px;
  margin-top: 10px; 
  margin-bottom: 10px;
}
.text_bet{
  cursor: default;
  text-align :center;
}

.shadow{
    box-shadow: 0px 2px 0px #aaa;
}

.center_text{
  text-align: center;
}

.bg{
  background-color: rgb(248,248,248);
  border: 2px black;
  border-radius: 6px;
  line-height: 40px;
}

.home{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  cursor:pointer;
  color:#0275d8;
  
}

.dropdown_bet{
  text-align: center;
}

.li{
  color:w black;
}
.top{
  margin-top: 15px;
}

.dropdownTitle
{
  color : gray;
  border-bottom: solid gray 1px;
  margin-top: 5px; 
}

.dropdownElement
{
  margin: 5px;
}

.titleGroups{
  cursor:default;
}

.titre
{
  margin-left: 15px; 
  margin-top: 5px; 
  margin-bottom : 20px;
  cursor:default;
}

.collapseTitle
{
  margin-bottom: 7px;
  color : white;
}

.collapseItem
{
  margin-left: 15px; 
  color : white;
}

.num
{
  text-align: left;
}


.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}

h5{
  text-align: center;
  margin-bottom: 15px;
}

h2
{
  font-size: 40px;
  margin: 20px;
}

h3
{
  font-size: 25px;
  margin-left: 20px;
  color: grey;
  border-top: 1px solid grey;
}

h3_noline
{
  font-size: 25px;
  margin-left: 20px;
  color: grey;
}


p{
  margin-top: 30px; 
}
body
{
	padding: 15px;
  font-family: Futura;

}


/* Creates a vertical nav starting at 768px (sm) */
@media (min-width: 768px) {
   .bootstrap-vertical-nav .navbar .navbar-collapse {
      padding: 0;
      max-height: none;
   }
   .bootstrap-vertical-nav .navbar ul {
      float: none;
   }
   .bootstrap-vertical-nav .navbar ul:not {
      display: block;
   }
   .bootstrap-vertical-nav .navbar li {
      float: none;
      display: block;
   }

   .bootstrap-vertical-nav .navbar-nav .nav-item+.nav-item {
      margin-left: 0;
   }
}

/* Put any custom CSS you want for your menu when it is collapsed */
@media (max-width: 768px) {
   .bootstrap-vertical-nav {
      
   }
}


/********************************** pour buttons de la partie settings*****************************************************************/


.buttons
{
display: inline-block;
background: #eeeeee; /* Old browsers */
background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* W3C */
border: 1px solid #a1a1a1;
padding: 0 .6em;
font: bold 1em/2em Arial, Helvetica;
text-decoration: none;
color: #0275d8;
-moz-border-radius: .2em;
-webkit-border-radius: .2em;
border-radius: .2em;

}
.buttons:before
{
width: 1em;
text-align: left;
/*font-size: 1.7em;*/
/*margin: 0 0.5em 0 -1em;*/
/*padding: 0 .2em;*/
pointer-events: none;
font-family: FontAwesome;

 
}
.add:before    { content: "\270E"; }
.tick:before{  content: "\2714";}

.title{
margin-left: 70px;
    font-size: 25px;
}
.droite{
    float:right;
    margin-right: 0px;
}

.champs{
    font-size: 20px;
    color:#373a3c;
}

.corps:before {
        content: '';
        background: url('../../utils/image/Background.jpg');
        -webkit-filter: blur(5px);
               -moz-filter: blur(5px);
                -ms-filter: blur(5px);
                 -o-filter: blur(5px);
                    filter: blur(5px);
                    width: 100%;
                    height: 100%;
                     background-repeat: no-repeat center fixed;
                      margin:0;
                    padding:0;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;

        position: fixed;
        top: 0;
        bottom:0;
        left: 0;
        right: 0;    
        z-index: -1;
        text-overflow: ellipsis;
    }

#divpseudo,#divpassword,#divbirthday,#divcity,#divmail,#divcompany{
    margin-left: 70px;


}
input, textarea, select {
 padding:1px;
 border:1px solid #0275d8;
 border-radius:5px;

 box-shadow:1px 1px 2px #C0C0C0 inset;
 }

     .invalide{
     margin-left: 70px;
     color:#09c;
     background:rgba(0,0,0,.9);
     padding:15px;
     border-radius:3px;
     box-shadow:0 0 2px rgba(0,0,0,.5);
     font-size: 12px;


    }

/*****************************************************************************************************************************************/



/*************************************************** pour partie Ranking *****************************************************************/


.backstrip{
  background-color: rgb(174,207,255);
  
}


.backrank{
  background-color: rgb(240,240,245);

}
.bottom_bet{
  background-color: rgb(240,240,245) ;
  border: 1px solid black;
  margin-right: 5px;
  margin-bottom: 10px;
}


a:hover, a:active,  a:focus {
  text-decoration: none;
  
}

a{
  color:grey;
}



.text_bet{
  border-top: 1px solid grey;
  text-align :center;
}

.shadow{
    box-shadow: 0px 2px 0px #aaa;
}

.center_text{
  text-align: center;
}

.bg{
  background-color: rgb(248,248,248);
  border: 2px black;
  border-radius: 6px;
  line-height: 40px;
}



.dropdown-content {
    
    display:none;
    background-color: ##505050;
    min-width: inherit;
    box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.5);
    padding: 2px 2px;
    z-index: 5;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: #0275d8;
}


.dropdown_menu{
  margin-left: 15px;
}

.top{
  margin-top: 15px;
}



.titleGroups{
 cursor:default;
}

.titre
{
  margin-left: 15px; 
  margin-top: 5px; 
  margin-bottom : 20px;
  cursor:default;
}

.textBet
{
  text-align: center;
  cursor:default;
}
.num
{
  text-align: left;
}


.subpolice
{
  font-size: 25px;
  text-align: center;
}

.subpolice_group
{
  font-size: 25px;
  text-align: center;
  cursor:pointer;
  color:grey;
}
.subpolice_error
{
  font-size: 25px;
  margin-left: 20px;
  text-align: center;
  cursor:pointer;
  color:grey;
}

.subrank{
  text-align: center;
}

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}


h5{
  text-align: center;
  margin-bottom: 15px;
}

/*****************************************************************************************************************************************/

/*************************************************** pour partie Ranking *****************************************************************/

.redirect-background{
  content: '';
        background: url('../../utils/image/Background_redirect.jpg');
        -webkit-filter: blur(5px);
               -moz-filter: blur(5px);
                -ms-filter: blur(5px);
                 -o-filter: blur(5px);
                    filter: blur(5px);
                    width: 100%;
                    height: 100%;
                     background-repeat: no-repeat center fixed;
                      margin:0;
                    padding:0;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;

        position: absolute;
        top: 0;
        bottom:0;
        left: 0;
        right: 0;    
        z-index: -1;
        text-overflow: ellipsis;
}

.background_opacity {
position: fixed;
z-index: -10;
top: 0; left: 0; right: 0; bottom: 0;
background-color: rgba(255, 255, 255, 0.7); /* L'opacite se regle ici */
}

body:before{
         content: '';
        background: url('../../utils/image/Background.jpg');
        -webkit-filter: blur(10px);
               -moz-filter: blur(10px);
                -ms-filter: blur(10px);
                 -o-filter: blur(10px);
                    filter: blur(10px);
                    width: 100%;
                    height: 100%;
                     background-repeat: no-repeat center fixed;
                      margin:0;
                    padding:0;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;

        position: fixed;
        top: 0;
        bottom:0;
        left: 0;
        right: 0;    
        z-index: -1;
    }