




/*-------------------Format des boutons----------------------*/
/*-----------------------------------------------------------*/

button {
    padding: 3px 30px;
    background-color: #FFECEC;
    border: 1px solid #990000;
    text-overflow: ellipsis;
}
button:hover {
    background-color: #ECFFEC;
    border: 1px solid #000099;
    text-overflow: ellipsis;
}
élément {

    display: block;
    text-overflow: ellipsis;

}





/*----------------------bandeau de la page---------------------*/
/*-------------------------------------------------------------------**/


header  {

    background-color: rgba(103 , 113, 121, 0.5);
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    position: fixed;
    

}
    /*Jouer comporte des risques*/

    .texte_info { 
        text-decoration:blink; 
        font: 10px monospace;
        color: white;
        float:right; 
    }
    /*Login et mdp*/

    .headerLoginBox {

    float: center;
    display: none;

    }

     .incorrect{
      
        color:#09c;
     background:rgba(0,0,0,.9);
     padding:15px;
     border-radius:3px;
     box-shadow:0 0 2px rgba(0,0,0,.5);
     font-size: 10px;


    }



/*---------------------------Corps de la page ---------------------**/
/*-------------------------------------------------------------------**/

body{
    width:100%;
    color: white;
    text-overflow: ellipsis;
}

    /*flou juste du fond*/

    #corps:before {
        content: '';
        background: url('../../utils/image/sport.jpg');
        -webkit-filter: blur(8px);
               -moz-filter: blur(8px);
                -ms-filter: blur(8px);
                 -o-filter: blur(8px);
                    filter: blur(8px);
                    width: 100%;
                    height: 100%;
                     background-repeat: no-repeat center fixed;
                      margin:0;
                    padding:0;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;

        position: absolute;
        top: 0;
        bottom:0;
        left: 0;
        right: 0;    
        z-index: -1;
        text-overflow: ellipsis;
    }
        /*Partie gauche du corps*/

        #gauche{

            position: relative;
            width:600px;
            height: 100%;
            left:50px;
            top:250px;
            text-overflow: ellipsis;
        }

            h1 {
                font-size: 30px;
                padding: 0 110px 10px 0;
                float:left;
                line-height: 34px;
                color:white ;
                font-family:arial, sans-serif;

            }

        /*Partie droite du corps*/

        #droite{
            position: relative;
            height: 100%;
            left:900px;
            width:400px;
            top:10px;
            text-overflow: ellipsis;
        }

            /*Format du titre */

            .titre{

                font-size: 25px;
                color: white;
            }
            /*Alignement des boutons */

            .aligne{

                display: block; /* La balise devient de type block. */

                 width: 100px;

            }

            .obligatoire{

                font-size: 10px;
                float:bottom;
            }

            .police{
                color:red;
            }




            
