/*[class*="col-"], footer {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}

*/
.bottom_bet{
  background-color: rgb(240,240,245) ;
  border: 1px solid black;
  margin-right: 5px;
  margin-bottom: 10px;
}

.text_bet{
  border-top: 1px solid grey;
  text-align :center;
}

.shadow{
    box-shadow: 0px 2px 0px #aaa;
}

.center_text{
  text-align: center;
}

.bg{
  background-color: rgb(248,248,248);
  border: 2px black;
  border-radius: 6px;
  line-height: 40px;
}

.dropdown_menu{
  margin-left: 15px;
}

.top{
  margin-top: 15px;
}

.titleGroups{
 cursor:default;
}

.titre
{
  margin-left: 15px; 
  margin-top: 5px; 
  margin-bottom : 20px;
  cursor:default;
}

.textBet
{
  text-align: center;
  cursor:default;
}
.num
{
  text-align: left;
}


.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}

h5{
  text-align: center;
  margin-bottom: 15px;
}

body
{
	padding: 15px;
}

/* Creates a vertical nav starting at 768px (sm) */

@media (min-width: 768px) {
   .bootstrap-vertical-nav .navbar .navbar-collapse {
      padding: 0;
      max-height: none;
   }
  
   .bootstrap-vertical-nav .navbar li {
      float: none;
      display: block;

   }

   .bootstrap-vertical-nav .navbar-nav .nav-item+.nav-item {
      margin-left: 0;
   }
}

/* Put any custom CSS you want for your menu when it is collapsed */
@media (max-width: 768px) {
   .bootstrap-vertical-nav {
      
   }
}